body{width: 100vw;overflow-x:hidden;padding: 0;margin: 0;}
html{scroll-behavior: smooth;}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}

.About{display: flex;width: 100%;justify-content: center;}
.AboutRight{width: 100%;}
.AboutRight h1{color: blue;font-size: 220%;text-align: center;animation: zoom 1s ease-in forwards;}
.AboutRight h3{color: blue;font-size: 220%; margin-left: 2%;}
.AboutRight h1:hover{color: rgb(228, 131, 34);}

.intro{width: 80%;margin: 5%; padding:2% 5%; text-align: center;border: 2px solid blue;border-radius: 20px;}
.intro img{width: 20%;border-radius: 50%;}
.teamSocialLinks{ margin: 0; margin-left: auto; width: 40%;font-size: 0%;padding: 0;border-radius: 30px;}

.overview{width: 86%;margin: 2% 5%; padding:0%;}
.whatWeDo{border: 2px solid rgba(128, 128, 128, 0.244);padding: 0 1%;border-radius: 20px;margin-bottom: 2%;background-color: rgba(236, 236, 236, 0.301);}
.whatWeDo:hover{background-color: rgba(220, 220, 220, 0.6);}
.whatWeDo h4{font-size: 120%;margin: 1% 0;}
.whatWeDo p{display: none;}

.team{display: flex;width: 80%;margin: 2% 10%;text-align: center;}
.team h4{margin: 2%;font-size: 115%;}
.team h5{margin: 3%;}
.teamMember{width: 30%;border: 2px solid blue;border-radius: 20px;margin: 2%;padding: 2%;}
.teamMember:hover{background-color: blue;color: white;}
.teamMember:hover .teamSocialLinks{background-color: white;}
.teamMember:hover img{background-color: white;}
.teamMember img{width: 30%;border-radius: 50%;border: 2px solid white;}
.teamMember .teamSocialLinks{width: 70%;}

.mission{width: 86%;margin: 0 5%;;padding: 0 2%;}
.mission h4{font-size: 120%;margin: 0;}
.mission ul{list-style: none;}
.mission ul li{border: 2px solid rgba(128, 128, 128, 0.244); background-color: rgba(236, 236, 236, 0.301);border-radius: 20px;padding: 1% 2%;margin-bottom: 1%;}
.mission ul li:hover{background-color: rgba(220, 220, 220, 0.6);}
.mission ul li h4{margin: 1% 0;font-size: 110%;}
.mission ul li p{margin: 0;display: none;}

@keyframes slideLeft{
    0%{transform: translateX(-200px);opacity: 0;}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes slideRight{
    0%{transform: translateX(300px);opacity: 0;}
    100%{transform: translateX(0);opacity: 1;}
}
@keyframes zoom{
    0%{font-size: 80%;opacity: 0;}
    100%{font-size: 220%;opacity: 1;}
}
@media (width < 750px){
    .AboutRight h3{text-align: center;margin: 10% 0 3% 0;}
    .intro img{width: 40%;}

    .whatWeDo h4{margin: 1%;}
    .mission h4{font-size: 150%;}

    .team{display: inline;}
    .teamMember{width: 80%;margin: 5%;padding: 2% 5%;}
    .aboutsocialLinks{width: 90%;font-size: 0%;margin-left: auto;}


}
